<div id="messageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Информация о сообщении <span id="messageId"></span></h4>
            </div>
            <div class="modal-body">
                <p>
                    <div class="attribute-label">Тип:</div>
                    <div id="typeMessage"></div>
                </p>
                <p>
                    <div class="attribute-label">Статус:</div>
                    <div id="statusMessage"></div>
                </p>
                <p>
                    <div class="attribute-label">Заголовок:</div>
                    <div id="headMessage"></div>
                </p>
                <p>
                    <div class="attribute-label">Адресат:</div>
                    <div id="headRecipients"></div>
                </p>
                <p>
                    <div class="attribute-label">Теги:</div>
                    <div id="tagsMessage"></div>
                </p>
                <p>
                    <div class="attribute-label">Текст сообщения:</div>
                    <div id="textMessage"></div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>